@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold text-gray-900 mb-4;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-800 mb-3;
  }

  p {
    @apply text-gray-600 mb-4 leading-relaxed;
  }
}

.logo-white {
  filter: brightness(0) invert(1);
}

@layer utilities {}